*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  background-color: chartreuse;
  border: 4px solid rebeccapurple;
  height: auto;
}
.image{
  height: 400px;
  width: 300px;
  margin-left: 30px;
  border: 2px solid rgb(156, 15, 15);
}
.image1{
  margin-top: 30px;
margin-left: 140px;
margin-bottom: 30px;
}
.image2{
  margin: 30px 30px;
}
.image3{
  margin: 30px 30px;
}
h1{
  text-transform: uppercase;
  text-decoration: double;
  color: crimson;
  text-align: center;
  text-decoration: underline;
}
.card-Container{
  margin-top:2px;
 display: flex;
  border: 3px solid rgb(125, 57, 68);
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: rgb(49, 47, 45);
}
.card{
 margin-top: 5px;
    border: 3px solid red;
    border-radius: 13px;
    width: 400px;
    background-color: rgba(205, 228, 122, 0.674);
}
h4{
  color: darkblue;
  text-align: center;
}
h2{
  color: rgb(94, 4, 52);
  text-align: center;
  text-transform: capitalize;
}
.image4{
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.points{
  margin-left: 100px;
  color: brown;
  margin-bottom: 20px;
}
.my-btn{
    align-content: center;
    font-size: large;
    color: rgb(241, 225, 240);
    border: 4px solid rgba(41, 7, 141, 0.578);
    padding: 4px;
    border-radius: 13px ;
    background-color: rgb(20, 220, 157);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 33%;
    
 }
